
:root.gruvbox {
  --primary: #fe8019;
  --fg: #fbf1c7;
  --secondary: #cc241d;
  --bg: #1d2021cc;
}

:root.catppuccin {
  --primary: #ca9ee6;
  --fg: #c6d0f5;
  --secondary: #eb34a8;
  --bg: #1e1e2ecc;
}

:root.one-dark {
  --primary: #528bff;
  --fg: #f2f4f5;
  --secondary: #8735f1;
  --bg: #282c34cc;
}

:root.manly-spring {
  --primary: #7a8f7a;
  --fg: #e5ded8;
  --secondary:  	#3e4a3f;
  --bg: #1c1c1ccc;
}

:root.discord {
  --primary: #7289da;
  --fg: #fff;
  --secondary:  	#506fe0;
  --bg: #23272acc;
}

:root.stormy-morning {
  --primary: #bdddfc;
  --fg: #e5ded8;
  --secondary:#88bdf2;
  --bg: #384959cc;
}

:root.nord {
  --primary: #88c0d0;
  --fg: #eceff4;
  --secondary: #5e81ac;
  --bg: #2e3440cc;
}

:root.dracula {
  --primary: #bd93f9;
  --fg: #f8f8f2;
  --secondary: #ff79c6;
  --bg: #282a36cc;
}

:root.tokyo-night {
  --primary: #7aa2f7;
  --fg: #c0caf5;
  --secondary: #bb9af7;
  --bg: #1a1b26cc;
}

:root.rose-pine {
  --primary: #ebbcba;
  --fg: #e0def4;
  --secondary: #c4a7e7;
  --bg: #191724cc;
}

:root.solarized-dark {
  --primary: #268bd2;
  --fg: #93a1a1;
  --secondary: #2aa198;
  --bg: #002b36cc;
}

:root.everforest {
  --primary: #a7c080;
  --fg: #d3c6aa;
  --secondary: #83c092;
  --bg: #2d353bcc;
}

:root.monokai-pro {
  --primary: #ffd866;
  --fg: #fcfcfa;
  --secondary: #ff6188;
  --bg: #2d2a2ecc;
}

:root.kanagawa {
  --primary: #7e9cd8;
  --fg: #dcd7ba;
  --secondary: #957fb8;
  --bg: #1f1f28cc;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* The "Mask" effect */
::view-transition-old(root) {
  animation: none;
  opacity: 1;
}

::view-transition-new(root) {
  background-color: var(--bg); 
  
  z-index: 9999;
  clip-path: circle(0% at var(--reveal-x) var(--reveal-y));
  animation: reveal-circle 750ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Ensure the wrapper doesn't have its own transparency issues */
::view-transition-group(root) {
  animation: none;
}

@keyframes reveal-circle {
  from { clip-path: circle(0% at var(--reveal-x) var(--reveal-y)); }
  to { clip-path: circle(125% at var(--reveal-x) var(--reveal-y)); }
}